body {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(117, 70, 117);
    background: linear-gradient(90deg, rgba(117, 70, 117, 1) 0%, rgba(36, 11, 36, 1) 100%);
    color: #333;
}

.container {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    
}
.card {
    background: #f9f9f9;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}
li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: 5px 0;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
    transition:0.3s;
}

.completed {
    text-decoration: line-through;
    color: gray;
}